.section3{
    &.boy{
        .container{
            background-color: #00a2ff34;
        }
        a{
            color: #00a2ff;
        }
    }
    &.girl{
        .container{
            background-color: #ffc0cb63;
        }
        a{
            color: #ec7387;
        }
    }
    margin-bottom: 35px;
    .container{
        padding: 0 15px 35px;
        background-color: rgb(248, 248, 248);
        border-radius: 20px;
        padding: 30px;
    }
    &-title{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
        width: 100%;
    }
    .inner{
        &-container{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 30px 20px;
            flex-wrap: wrap;
        }
        &__column{
            width: calc(50% - 10px);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 15px;
            padding: 20px;
            border-radius: 20px;
            a{
                font-size: 18px;
                font-weight: 500;
            }
        }
        &-more{
            width: 100%;
            background-color: white;
            height: 40px;
            border-radius: 20px;
            font-weight: 500;
            font-size: 16px;
        }
    }
}