.section4{
    .container{
        padding: 0 15px 35px;
    }

    &-title{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .inner{

        &-container{
            background-color: #f1f1f1;
            border-radius: 20px;
            padding: 30px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 30px 20px;
            flex-wrap: wrap;
        }

        &__column{
            width: calc(50% - 10px);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 15px;

            a{
                font-size: 18px;
                color: #ff8599;
                font-weight: 500;
            }

            &:first-child{
                a{
                    color: #00a2ff;
                }
            }
        }
        
        &-more{
            width: 100%;
            background-color: #fff;
            height: 40px;
            border-radius: 20px;
            font-weight: 500;
            font-size: 16px;
        }
    }
}