mixin boys3 ()
    section.boys3 
        .container 
            h2.boys3-title Eng ko'p qidirilgan ismlar 
            .inner-container
                .inner__column 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                .inner__column 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                button(type="button").inner-more Eng ko'p qidirilgan ismlar