mixin footer()
    footer.footer   
        .container 
            .footer__nav
                a(href="#").footer__nav-btn ibora.uz
                a(href="#").footer__nav-btn ibora.uz
                a(href="#").footer__nav-btn ibora.uz
                a(href="#").footer__nav-btn ibora.uz
                a(href="#").footer__nav-btn ibora.uz
                a(href="#").footer__nav-btn ibora.uz
                a(href="#").footer__nav-btn ibora.uz
            a(href="#").text Сайтда реклама бериш
            p.footer-copyrights.text © Ismlar.com — O'zbek va dunyo ismlarining ma'nosi. Ismlar manosi, 2008–2023
            p.text Obuna va GoodGroup loyihasi