mixin section4 ()
    section.section4
        .container 
            h2.section4-title Top 100
            .inner-container
                .inner__column 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                .inner__column 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                button(type="button").inner-more Barcha Top ismlar