mixin section3 ()
    section.section3.boy 
        .container 
            h2.section3-title Eng ko'p qidirilgan o'g'il bola ismlar 
            .inner-container
                .inner__column 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                .inner__column 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                    a(href="#") name 
                button(type="button").inner-more Eng ko'p qidirilgan ismlar