mixin section3 ()
    section.section3.boy 
        .container 
            .inner-box 
                h2.section3-title Eng ko'p qidirilgan o'g'il bola ismlar 
                .inner-container
                    .inner__column 
                        a(href="info.html") name 
                        a(href="info.html") name 
                        a(href="info.html") name 
                        a(href="info.html") name 
                        a(href="info.html") name 
                    .inner__column 
                        a(href="info.html") name 
                        a(href="info.html") name 
                        a(href="info.html") name 
                        a(href="info.html") name 
                        a(href="info.html") name 
                    button(type="button").inner-more Eng ko'p qidirilgan ismlar
            .inner-alphabet
                ul.alphabet__list 
                    li.alphabet__list-item 
                        a(href="#") Ğ 
                    li.alphabet__list-item 
                        a(href="#") B
                    li.alphabet__list-item 
                        a(href="#") D 
                    li.alphabet__list-item 
                        a(href="#") E 
                    li.alphabet__list-item 
                        a(href="#") F 
                    li.alphabet__list-item 
                        a(href="#") G 
                    li.alphabet__list-item 
                        a(href="#") H 
                    li.alphabet__list-item 
                        a(href="#") I 
                    li.alphabet__list-item 
                        a(href="#") J 
                    li.alphabet__list-item 
                        a(href="#") K 
                    li.alphabet__list-item 
                        a(href="#") L 
                    li.alphabet__list-item 
                        a(href="#") M 
                    li.alphabet__list-item 
                        a(href="#") N 
                    li.alphabet__list-item 
                        a(href="#") O 
                    li.alphabet__list-item 
                        a(href="#") P 
                    li.alphabet__list-item 
                        a(href="#") Q 
                    li.alphabet__list-item 
                        a(href="#") R  
                    li.alphabet__list-item 
                        a(href="#") S 
                    li.alphabet__list-item 
                        a(href="#") T 
                    li.alphabet__list-item 
                        a(href="#") U 
                    li.alphabet__list-item 
                        a(href="#") V 
                    li.alphabet__list-item 
                        a(href="#") X 
                    li.alphabet__list-item 
                        a(href="#") Y
                    li.alphabet__list-item 
                        a(href="#") Z 
                    li.alphabet__list-item 
                        a(href="#") O`
                    li.alphabet__list-item 
                        a(href="#") G`
                    li.alphabet__list-item 
                        a(href="#") Sh 
                    li.alphabet__list-item 
                        a(href="#") Ch 