mixin section7 ()
    section.section7.boy
        .container
            .section7-main 
                h2.section7-title
                    span Mustafo 
                    | ismining ma'nosi
                h2.section7-article 
                    span Lorem 
                    | ipsum dolor sit, amet consectetur adipisicing elit. Nam eaque dolores autem tenetur, voluptas eum tempora? Expedita itaque nihil dicta quaerat temporibus!
                h2.section7-article Nam eaque dolores autem tenetur, voluptas eum tempora? Expedita itaque nihil dicta quaerat temporibus!
            .section7-under
                .under__list 
                    .under__list-item 
                        h3.under__list-title 1
                        p.under__list-subtitle Saytdagi
                            br
                            | o‘rni
                    .under__list-item 
                        h3.under__list-title 1
                        p.under__list-subtitle O‘g‘il bolalar
                            br
                            | orasidagi o‘rni
                    .under__list-item 
                        h3.under__list-title 7
                        p.under__list-subtitle Harflar
                            br
                            | soni