mixin section2 ()
    section.section2 
        .container
            h2.section2-title Ruknlar
            .swiper.section2-swiper
                .swiper-wrapper 
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click
                    .swiper-slide   
                        a(href="#").section2-btn click