mixin section6 ()
    section.section6
        .container
            h2.section6-title Boshqa loyihalarimiz
            .section6__cards 
                .section6__card
                    h4 TVinfo.uz
                    p TVinfo.uz — Телепрограмма на сегодня, завтра и ближайшую неделю.
                    p TVinfo.uz — Bugun, ertaga va keyingi hafta uchun to‘liq teledasturlar.
                    a(href="#") tvinfo.uz
                .section6__card
                    h4 TVinfo.uz
                    p TVinfo.uz — Телепрограмма на сегодня, завтра и ближайшую неделю.
                    p TVinfo.uz — Bugun, ertaga va keyingi hafta uchun to‘liq teledasturlar.
                    a(href="#") tvinfo.uz
                .section6__card
                    h4 TVinfo.uz
                    p TVinfo.uz — Телепрограмма на сегодня, завтра и ближайшую неделю.
                    p TVinfo.uz — Bugun, ertaga va keyingi hafta uchun to‘liq teledasturlar.
                    a(href="#") tvinfo.uz
                .section6__card
                    h4 TVinfo.uz
                    p TVinfo.uz — Телепрограмма на сегодня, завтра и ближайшую неделю.
                    p TVinfo.uz — Bugun, ertaga va keyingi hafta uchun to‘liq teledasturlar.
                    a(href="#") tvinfo.uz
                .section6__card
                    h4 TVinfo.uz
                    p TVinfo.uz — Телепрограмма на сегодня, завтра и ближайшую неделю.
                    p TVinfo.uz — Bugun, ertaga va keyingi hafta uchun to‘liq teledasturlar.
                    a(href="#") tvinfo.uz
                .section6__card
                    h4 TVinfo.uz
                    p TVinfo.uz — Телепрограмма на сегодня, завтра и ближайшую неделю.
                    p TVinfo.uz — Bugun, ertaga va keyingi hafta uchun to‘liq teledasturlar.
                    a(href="#") tvinfo.uz
